*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:'Vazirmatn',sans-serif;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#fff5f8,#fff1d8);

color:#5c4d57;

}


.card{

background:white;

width:90%;

max-width:400px;

padding:35px;

border-radius:25px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}


h1{

margin-bottom:20px;

}


p{

margin-bottom:25px;

}


label{

display:block;

text-align:right;

margin:15px 0 5px;

}


input{

width:100%;

padding:12px;

border-radius:12px;

border:1px solid #ddd;

font-size:16px;

}


button{

margin-top:30px;

width:100%;

padding:15px;

border:none;

border-radius:15px;

background:#f9d6e4;

font-size:17px;

cursor:pointer;

}
